gaussian_filtered_images/Mild
gaussian_filtered_images/Moderate
gaussian_filtered_images/No_DR
gaussian_filtered_images/Proliferate_DR
gaussian_filtered_images/Severe
gaussian_filtered_images/notebooks
